@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

    
*@

@{ 
    Product p = ViewBag.product as Product;
}
<h1>@ViewBag.zaman</h1>
<h1>@p.Id => @p.Name => @p.Price </h1>
